<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
</head>
<body>
    <h1>Lista de Familia</h1>
   
    {% for familia in fam %}

        <ul>
            <li>Nombre: {{familia.nombre}},</li>
            <li>apellido:  {{familia.apellido}},</li>
            <li>edad:  {{familia.edad}},</li>
            <li>nacimiento:  {{familia.nacimiento}},</li>
        </ul>

    {% endfor %}

</body>
</html>